<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254300496354-r4s81kutuppn0l90stng54bmi0inur5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254300496354-r4s81kutuppn0l90stng54bmi0inur5a</string>
	<key>API_KEY</key>
	<string>AIzaSyD4piHEGgH2qzexIeAZwaUjs4k_jsK9qX4</string>
	<key>GCM_SENDER_ID</key>
	<string>254300496354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.datasite.dachaturizm</string>
	<key>PROJECT_ID</key>
	<string>dachaturizm-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>dachaturizm-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254300496354:ios:78e2710285f7b106b5d9bb</string>
</dict>
</plist>